<div class="container-xl"><div class="mb-3 d-flex menu">  <div ngbDropdown class="w-33" *ngIf="stateService.networkSupportsLightning()">
    <button class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle i18n="lightning">Lightning</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/nodes-networks' | relativeUrl]"
        i18n="lightning.nodes-networks">Lightning Nodes Per Network</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]"
        i18n="lightning.network-capacity">Lightning Network Capacity</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/nodes-per-isp' | relativeUrl]"
        i18n="lightning.nodes-per-isp">Lightning Nodes Per ISP</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/nodes-per-country' | relativeUrl]"
        i18n="lightning.nodes-per-country">Lightning Nodes Per Country</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/nodes-map' | relativeUrl]"
        i18n="lightning.lightning.nodes-heatmap">Lightning Nodes World Map</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/lightning/nodes-channels-map' | relativeUrl]"
        i18n="lightning.nodes-channels-world-map">Lightning Nodes Channels World Map</a>
    </div>
  </div>
</div><router-outlet></router-outlet></div>
